<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
        integrity="sha256-PF6MatZtiJ8/c9O9HQ8uSUXr++R9KBYu4gbNG5511WE=" crossorigin="anonymous" />
    <title>Banco Digital</title>
</head>

<body>
    <nav class="navbar">

        <div class="logoContainer">
            <img src="./svg/logoBancoDigital.svg" alt="Banco Digital" class="logo">
            <div class="brand">
                <p>
                    Banco
                </p>
                <p>
                    Digital
                </p>
            </div>
        </div>

        <div class="searchbar">
            <Input class="inputSearch" placeholder="O que você está procurando?">
            <i class="fas fa-search searchIcon"></i>
            </Input>
        </div>

        <div class="login">
            <i class="far fa-user"></i>
            <a href="#">Entrar</a>
        </div>

    </nav>

    <section class="formContainer">

        <div class="infoNav">
            <p>Você está em </p>
            <p class="textBold">Página incial/Abertura de conta</p>
        </div>

        <div class="headerSection">
            <p>Dados de acesso</p>
        </div>

        <div>
            <form action="./congrats.html" class="formDefault">
                <label for="">Email</label>
                <input class="inputDefault" type="text" placeholder="Jon 'Maddog' Hall">
                <label for="">Senha</label>
                <input class="inputDefault" type="text" placeholder="***************">
                <label for="">Confirme a senha</label>
                <input class="inputDefault" type="text" placeholder="***************">
                <label for="">Código de segurança</label>
                <input class="inputDefault" type="text" placeholder="234fhg12">
                <div class="formFooter">
                    <button class="buttonBlue" type="submit" href="#">Continuar</button>
                </div>
            </form>
        </div>

    </section>

    <section class="infoContainer">
        <div>
            <p>Beleza, agora defina como você irá</p>
            <p class="textBlue">acessar</p>
            <p>sua conta.</p>
        </div>
    </section>

</body>

</html>