<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <title>Banco Digital</title>
</head>

<body>
    <nav class="navbar">

        <div class="logoContainer">
            <img src="./svg/logoBancoDigital.svg" alt="Banco Digital" class="logo">
            <div class="brand">
                <p>
                    Banco
                </p>
                <p>
                    Digital
                </p>
            </div>
        </div>

        <div class="searchbar">
            <Input class="inputSearch" placeholder="O que você está procurando?">
            <i>
            </i>
            </Input>
        </div>

        <div class="login">
            <a href="#">Entrar</a>
        </div>

    </nav>

    <section class="formContainer">

        <div class="infoNav">
            <p>Você está em </p>
            <p class="textBold">Página incial/Abertura de conta</p>
        </div>

        <div class="headerSection">
            <p>Dados pessoais</p>
        </div>

        <div>
            <form action="" class="formDefault">
                <label for="">Nome</label>
                <input class="inputDefault" type="text" placeholder="Roberto Silva">
                <label for="">Data de nascimento</label>
                <input class="inputDefault" type="text" placeholder="11/06/1993">
                <label for="">CPF</label>
                <input class="inputDefault" type="text" placeholder="444.444.444-90">
                <div class="formFooter">
                    <div class="terms">
                        <input id="agree" type="checkbox" />
                        <label for="agree">Li e conconrdo com os termos.</label>
                    </div>
                    <button class="buttonBlue" type="submit" href="#">Continuar</button>
                </div>
            </form>
        </div>

    </section>

    <section class="infoContainer">
        <div>
            <p>Primeiro precisamos te conhecer.</p>
            <p class="textBlue">Vamos lá?</p>
        </div>
    </section>

</body>

</html>