<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Banco Digital</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
</head>

<body class="bckGradient">

    <nav class="navbar">

        <div class="logoContainer">
            <img src="./svg/logoBancoDigital.svg" alt="Banco Digital" class="logo">
            <div class="brand">
                <p>
                    Banco
                </p>
                <p>
                    Digital
                </p>
            </div>
        </div>

        <div class="searchbar">
            <Input class="inputSearch" placeholder="O que você está procurando?">
            <i>
            </i>
            </Input>
        </div>

        <div class="login">
            <a href="#">Entrar</a>
        </div>

    </nav>

    <div class="mainContainer">
        <div class="welcome">
            <p>A conta Banco Digital te dá acesso a um novo</p>
            <p>patamar de produtos e serviços bancários.</p>
            <p>Bem vindo ao futuro.</p>
            <button class="buttonNoColor">Continuar</button>
        </div>
    </div>

</body>

</html>